extends ../index-ext

block scripts
	script require(['modules/videos']);

block body

	h1= data.item.title || data.item.vimeo.title || 'Video'

	div.video-item-wr(style='padding-bottom: ' + ((data.item.vimeo.height / data.item.vimeo.width) * 100) + '%;')
		video.video-item.video-js(src=data.item.href, type='mpeg/mp4')

	if data.item.tags.length
		br
		br
		.tag-l
			span.tag-l-h
				span.glyphicon.glyphicon-tags &nbsp;
			- var _counter = 0;
			each tag in data.item.tags
				a.tag-li(href='/' + data.LOCALE + '/tags/' + tag + '/')= tag

	- var _related = [];
	- var _counter = 0;
	each video in data.videos
		if (video.id != data.item.id && data._.intersection(data.item.tags, video.tags).length && ++_counter < 5)
			- _related.push(video);

	if (_related.length)
		h2= data.translation.related_videos
		ul.row.video-l.text-left
			each video in _related
				li.col-md-6.col-md-10.col-xs-15.video-li
					a.thumbnail(href='/' + data.LOCALE + '/videos/' + video.id)
						div.video-li-img-wr(style='padding-bottom: ' + ((video.vimeo.height / video.vimeo.width) * 100) + '%;')
							img.video-li-img(src=video.vimeo.thumbnail_large)
							div.caption
								h2.video-li-h= video.title || video.vimeo.title